
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* General Layout                                                                                                                 */
/* ------------------------------------------------------------------------------------------------------------------------------ */

@media (min-width: 500px){
  body
  {
    width: 960px; 
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 499px){
  body{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

}

body
{
    background-color: #F0D2B4;  /* rgb(240, 210, 180) */
    font-family: 'Bitter', Verdana, Geneva, sans-serif; 
    font-size: 100%;
 }

/* -------------------------------------------------------------------------- */
/* Header Section                                                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 499px) {
  header { width: 100%; height: 120px; background-color: #111111; margin-top: -3%}
  #companyLogoImg { width: 120px; height: 120px; }
}

@media (min-width: 500px) {
  header { height: 175px; background-color: #111111; padding-top: 5px; }
  	.headerLogo {   width: 200px; }
    #companyLogoImg { width: 150px; height: 150px; }
}

/* -------------------------------------------------------------------------- */
/* Navigation Toolbar                                                         */
/* -------------------------------------------------------------------------- */
 
@media (min-width: 500px) {
  nav.mainMenu { width: 100%; height: 50px; margin: 3px 0px; background-color: #DAA05D}
  nav.mainMenu ul { margin: 0px; padding-top: 10px; }
  nav.mainMenu li { 
    display: inline; 
    list-style-type: none; 
    padding:0px 28px;
    font-size: 24px; 
    font-weight: bold; 
    font-family: 'Bilbo Swash Caps', cursive, Verdana, Geneva, sans-serif; 
    }

}

@media (max-width: 499px) {
  nav.mainMenu { width: 50%; height:200px;
    float:left; padding-right: 0%; margin-left: 0%; }
  
  nav.mainMenu ul { margin: 0%; padding-top: 2px; }
  nav.mainMenu li { 
      list-style-type: none; 
      margin-top: 3px; 
      padding: 3px 3px;
      margin-left: 0%;
      font-size: 130%; 
      font-weight: bold; 
      font-family: 'Bilbo Swash Caps', cursive, Verdana, Geneva, sans-serif; 
      text-align: center;
      background-color: #DAA05D;
      border: thin groove;
      border-color: #DAA05D;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }

  nav.mainMenu li a { color: #3C2415; text-decoration: none; }
  nav.mainMenu li a:hover { color: #3C2415; text-decoration: none; }
  nav.mainMenu li a:active { color: #FFFFFF; text-decoration: none; }


/* -------------------------------------------------------------------------- */
/* Footer Section                                                             */
/* -------------------------------------------------------------------------- */
@media (min-width: 500px){
  footer { width: 960px; }
}
footer { height: 50px; padding-top: 10px; clear: both; 
  text-align: center; font-family: Verdana, Geneva, sans-serif; font-size: 10px; color: #3C2415; }

nav.footerMenu li { display: inline; list-style-type: none; 
  padding: 0px 3px; margin-right: auto; margin-left: auto; font-color: #3C2415; }
nav.footerMenu li a { color: #3C2415; }
nav.footerMenu li a:hover { color: #3C2415; }



/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Side Bar content                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------------------ */

  .sidePanel { 
    width: 175px; 
    height: 300px; 
    float: left; 
    font-family: 'Yanone Kaffeesatz', Verdana; 
    font-size: 100%; color: #680211;

  }

  .sidePanelNav { width: 100%; margin: 0px; padding: 0px; }

  .sidePanelNav li
  {
    list-style: none; 
    /*display: inline;*/
    margin: 10px 15px;
    padding: 7px 10px;
    font-family: 'Yanone Kaffeesatz', Verdana; 
    text-align: center;
    background-color: #680211;
    border: thin groove;
    border-color: #B96666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .sidePanelHomeLinks { width: 100%; margin: 30px 0px; padding: 0px; }
  .sidePanelHomeLinks ul { margin: 0px 0px 0px 25px; padding: 0px; }
  .sidePanelHomeLinks li { list-style: none; padding: 7px 7px; }
  .sidePanelHomeLinks li a { color: #680211; text-decoration: none; }

  .sidePanelHistoryLinks { width: 100%; margin: 30px 0px; padding: 0px; }
  .sidePanelHistoryLinks ul { margin: 0px 0px 0px 25px; padding: 0px; }
  .sidePanelHistoryLinks li { list-style: none; padding: 7px 7px; }
  .sidePanelHistoryLinks li a { color: #680211; text-decoration: none}

  .sidePanelGalleryLinks { width: 185px; margin: 30px 0px; padding: 0px; }
  .sidePanelGalleryLinks ul { margin: 0px 0px 0px 25px; padding: 0px; }
  .sidePanelGalleryLinks li { list-style: none; padding: 7px 7px; }
  .sidePanelGalleryLinks li a { color: #680211; text-decoration: none}


@media (min-width: 500px){
  .sidePanel { 
    float: left; 
    margin: 20px 0px; 
    padding-right: 10px;
    border-right-style: solid; 
    border-right-width: thin; 
    border-right-color: #680211; 
  }

  .sidePanelNav ul { margin: 0px 0px 0px 10px; padding: 0px; }

  .sidePanelNav li
  {
    margin: 10px 15px;
    padding: 7px 10px;
  }
  .sidePanelNav li a { color: #E8CCCC; text-decoration: none; }
    
} 

@media (max-width: 499px){
  .sidePanel { 
    width: 50%; 
    height: 200px; 
    float: right; 
    font-size: 120%;
  }

  .sidePanelNav li
  {
    width: 75%;
    margin: 3% 0%;
    padding: 7px;
  }
  .sidePanelNav li a { color: #E8CCCC; text-decoration: none; }

  .sidePanelHomeLinks { width: 100%; margin: 0px 0px; padding-left: 10px; }
  .sidePanelHistoryLinks { width: 90%; margin: 0px 0px; padding-left: 10px; }
  .sidePanelGalleryLinks { width: 100%; margin: 0px 0px; padding-left: 10px; } 
} 

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Main page content                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------------------ */
@media (min-width: 500px){
  .pageContent { width: 740px; height: auto; padding: 0px 20px 0px 5px; float: right; }

  .contentHome { width: 740px; height: auto; margin-top: 0px; padding: 0px -50px 0px 5px; }
}
@media (max-width: 499px){
  .pageContent { width: 100%; height: auto; padding-left:5%;}

  .contentHome { width: 90%; height: auto; margin-top:235px; float:middle;}
}

/* --------------------------------------------------------------------------------------------------------- */
/* History page content                                                                                         */
/* --------------------------------------------------------------------------------------------------------- */
@media (min-width: 500px){
  .contentHistory { margin-top: 0px; }
  .historyRow td { width:145px; height: 135px; padding: 0px }
  .historyRowMed td { width:740px; padding: 0px }
}

@media (max-width: 499px){
  .contentHistory { width: 90%; margin-top: 235px; }
  .historyRow td {  }
  .historyRowMed td { }
}

.contentHistory { width: auto; font-family: 'Yanone Kaffeesatz', Verdana; 
    font-size: 120%; color: #000000; text-align: justify; }



.photoCaption { text-align: center; }

/* --------------------------------------------------------------------------------------------------------- */
/* Gallery page content                                                                                         */
/* --------------------------------------------------------------------------------------------------------- */
.contentGallery { .font-family: 'Yanone Kaffeesatz', Verdana; color: #000000; text-align: justify;}

@media (min-width: 500px){
.contentGallery { width: auto; margin-top: 25px; font-size: 80%;  }
}

@media (max-width: 499px){
.contentGallery { width: 90%; margin-top: 270px; font-size: 80%;  }
}

#galleryTable td { vertical-align: middle; text-align: center; padding: 5px; }

#redWineImg:hover { -moz-box-shadow: 0 0 30px #900; -webkit-box-shadow: 0 0 30px #900; box-shadow: 0 0 30px #900; }


#processStep { float: left; width: 240px; height: 240px; }
#processStep:hover #processStepText { opacity:0.7; }

.processStep1 { background: url(../images/photoGallery/processing/processing-1.jpg) no-repeat; }
.processStep2 { background: url(../images/photoGallery/processing/processing-2.jpg) no-repeat; }
.processStep3 { background: url(../images/photoGallery/processing/processing-3.jpg) no-repeat; }
.processStep4 { background: url(../images/photoGallery/processing/processing-4.jpg) no-repeat; }
.processStep5 { background: url(../images/photoGallery/processing/processing-5.jpg) no-repeat; }
.processStep6 { background: url(../images/photoGallery/processing/processing-6.jpg) no-repeat; }
.processStep7 { background: url(../images/photoGallery/processing/processing-7.jpg) no-repeat; }
.processStep8 { background: url(../images/photoGallery/processing/processing-8.jpg) no-repeat; }

#processStepText { opacity:0; width:185px; height:185px; background:#FFF; text-align:justify; color:#000000; padding:20px; font-family: 'Philosopher', sans-serif; font-size: 60%; font-weight: bold; }
#processStepTextAlwaysShow { width:185px; height:185px; text-align:justify; color:#000000; padding:20px; font-family: 'Philosopher', sans-serif; font-size: 60%; font-weight: bold; }


/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Products page content                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------------------ */
.contentProducts { color: #000000; text-align: justify;}
@media (min-width: 500px){

  .contentProducts { width: 740px; height: auto; margin-top: 40px; padding: 0px -50px 0px 5px; }
  #productImg { width: 130px; margin: 0px 10px; float: left; }
  #productDescription { width: 575px; margin: 0px 0px; float: left; text-align: justify; }
}
@media (max-width: 499px){

  .contentProducts { width: auto; margin-top: 235px; }
  #productImg { width: auto; margin: 0px 10px; float: left; }
  #productDescription { width: auto; margin: 0px 0px; float: left; text-align: justify; }
}

#productRow { clear: both; padding: 10px 0px; }
#productImg { width: 130px; margin: 0px 10px; float: left; }
#productDescription { width: 575px; margin: 0px 0px; float: left; text-align: justify; }
	#productDescription h1 { margin: 10px 0px; text-align: left; font-weight: bold; }


/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Wine Club page content                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------------------ */
.contentWineClub { color: #000000; text-align: justify;}
@media (min-width: 500px){

  .contentWineClub { width: 740px; height: auto; margin-top: 40px; padding: 0px -50px 0px 5px; }
}
@media (max-width: 499px){

  .contentWineClub { width: auto; margin-top: 235px; }
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Contact Us page content                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------------------ */
@media (min-width: 500px){

  .contentContactUs { width: 740px; height: auto; margin-top: 40px; padding: 0px -50px 0px 5px; }
}
@media (max-width: 499px){

  .contentContactUs { width: auto; margin-top: 235px; }
}


/* ------------------------------------------------------------------------------------------------------------------------------ */
/* General Formatting                                                                                                             */
/* Used as the default text within the page content section.
/* ------------------------------------------------------------------------------------------------------------------------------ */

#formatSummaryPhilosopher { font-size: 20px; text-align: justify; font-family: 'Philosopher', sans-serif; }
#formatSummaryPhilosopher13 { font-size: 13px; text-align: justify; font-family: 'Philosopher', sans-serif; }



/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Image Formatting                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------------------ */

#dividerBarImg { width: 1px; height: 10px; }			/*  Divider bar between list values.  See Privacy Policy | Terms of Use  */


#galleryImgSingle { width: 145px; height: 150px; }
#galleryImgDouble { width: 290px; height: 150px; }
#galleryImgQuad { width: 290px; height: 304px; }

#historyImgRight { width:140px; height: 170px;}


/* ------------------------------------------------------------------------------------------------------------------------------ */
/*   Slide stuff
/* ------------------------------------------------------------------------------------------------------------------------------ */
/*
#slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
*/
#slides {display:none;}


