body
{
	width: 960px; 
	margin-left: auto;
	margin-right: auto;
	background-color: #E8CCCC;  /* rgba(162, 51, 51, 0.2);   /* 0.2 sets the opacity for the background colour  */
  background-color: #D8D8D8;
  /*background-color: #FFCC99; */
	font-family: 'Bitter', Verdana, Geneva, sans-serif; 
	font-size: 12pt;
}



/* ------------------------------------------------------------------------------------------------------------------------------ */
/* General Layout                                                                                                                 */
/* ------------------------------------------------------------------------------------------------------------------------------ */

/* -------------------------------------------------------------------------- */
/* Header Section                                                             */
/* -------------------------------------------------------------------------- */
header { width: 960px; height: 175px; background-color: #1A0F00; margin: 0px;  padding-top: 5px; }
	.headerLogo {   width: 200px; height: auto; margin-right: auto; margin-left: auto; }
  .headerLSide {   width: 200px; height: auto; margin-right: auto; margin-left: 0px; }
	.headerRSide {   height: 200px; width: 200px; height: auto; margin-right: 0px; margin-left: auto; }

/* -------------------------------------------------------------------------- */
/* Navigation Toolbar                                                         */
/* -------------------------------------------------------------------------- */
nav.mainMenu { width: 960px; height: 50px; margin: 3px 0px; background-color: #DAA05D }
nav.mainMenu ul { margin: 0px; padding-top: 10px; }
nav.mainMenu li { display: inline; list-style-type: none; padding: 0px 28px; font-size: 24px; font-weight: bold; font-family: 'Bilbo Swash Caps', cursive, Verdana, Geneva, sans-serif; }
nav.mainMenu li a { color: #3C2415; text-decoration: none; }
nav.mainMenu li a:hover { color: #3C2415; text-decoration: none; }
nav.mainMenu li a:active { color: #FFFFFF; text-decoration: none; }


/* -------------------------------------------------------------------------- */
/* Footer Section                                                             */
/* -------------------------------------------------------------------------- */
footer { width: 960px; height: 50px; padding-top: 10px; clear: both; text-align: center; font-family: Verdana, Geneva, sans-serif; font-size: 10px; color: #3C2415; }

nav.footerMenu li { display: inline; list-style-type: none; padding: 0px 3px; margin-right: auto; margin-left: auto; font-color: #3C2415; }
nav.footerMenu li a { color: #3C2415; }
nav.footerMenu li a:hover { color: #3C2415; }



/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Side Bar content                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------------------ */
.sidePanel { width: 174px; height: 300px; float: left; margin: 20px 0px; padding-right: 10px; font-family: 'Yanone Kaffeesatz', Verdana; font-size: 16px; color: #680211; border-right-style: solid; border-right-width: thin; border-right-color: #680211; }

.sidePanelNav { width: 185px; margin: 0px; padding: 0px; }
.sidePanelNav ul { margin: 0px 0px 0px 10px; padding: 0px; }

.sidePanelNav li
{
	list-style: none; 
	/*display: inline;*/
	margin: 10px 15px;
	padding: 7px 10px;
	font-family: 'Yanone Kaffeesatz', Verdana; 
	font-size: 20px; 
	text-align: center;
	background-color: #680211;
	border: thin groove;
	border-color: #B96666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sidePanelNav li a { color: #E8CCCC; text-decoration: none; }


.sidePanelLinks{ width: 185px; margin: 30px 0px; padding: 0px; }
.sidePanelLinks ul { margin: 0px 0px 0px 25px; padding: 0px; }
.sidePanelLinks li { list-style: none; padding: 7px 0px; }
.sidePanelLinks li a { color: #680211; text-decoration: none; }



/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Main page content                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------------------ */
.pageContent { width: 740px; height: auto; padding: 50px 20px 0px 5px; float: right; }

.contentHome { width: 740px; height: auto; margin-top: -50px; padding: 50px -50px 0px 5px; }


/* --------------------------------------------------------------------------------------------------------- */
/* History page content                                                                                         */
/* --------------------------------------------------------------------------------------------------------- */
.contentHistory { width: auto; margin-top: -50px; font-family: 'Yanone Kaffeesatz', Verdana; font-size: 18px; color: #000000; text-align: justify; }

.historyRowSm td { width:145px; height: 145px; padding: 5px }
.historyRowMed td { width:740px; height: 145px; padding: 5px }

.photoCaption { text-align: justify; }

/* --------------------------------------------------------------------------------------------------------- */
/* Gallery page content                                                                                         */
/* --------------------------------------------------------------------------------------------------------- */
.contentGallery { width: auto; margin-top: -25px; font-family: 'Yanone Kaffeesatz', Verdana; font-size: 14px; color: #000000; text-align: justify; }

.galleryTable table, td, th { border: hidden; #680211; }

.galleryTable td { width:145px; height: 145px; padding: 5px;}


/* ------------------------------------------------------------------------------------------------------------------------------ */
/* General Formatting                                                                                                             */
/* Used as the default text within the page content section.
/* ------------------------------------------------------------------------------------------------------------------------------ */

#formatSummaryPhilosopher { font-size: 20px; text-align: justify; font-family: 'Philosopher', sans-serif; }



/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Image Formatting                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------------------ */

#dividerBarImg { width: 1px; height: 10px; }			/*  Divider bar between list values.  See Privacy Policy | Terms of Use  */

#companyLogoImg { width: 150px; height: 150px; }

#galleryImgSingle { width: 145px; height: 150px; }
#galleryImgDouble { width: 290px; height: 150px; }
#galleryImgQuad { width: 290px; height: 304px; }

#historyImgRight { float: center; width:140px; height: 170px;}


/* ------------------------------------------------------------------------------------------------------------------------------ */
/*   Slide stuff
/* ------------------------------------------------------------------------------------------------------------------------------ */

#slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

#slides {display:none;}


